<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dcs.dao.CadresInfoMapper" >
  <resultMap id="BaseResultMap" type="com.dcs.pojo.CadresInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="info_id" property="infoId" jdbcType="INTEGER" />
    <result column="name_chairman" property="nameChairman" jdbcType="VARCHAR" />
    <result column="function_chairman" property="functionChairman" jdbcType="VARCHAR" />
    <result column="contacts_chairman" property="contactsChairman" jdbcType="VARCHAR" />
    <result column="department_charge" property="departmentCharge" jdbcType="VARCHAR" />
    <result column="name_secretary" property="nameSecretary" jdbcType="VARCHAR" />
    <result column="function_secretary" property="functionSecretary" jdbcType="VARCHAR" />
    <result column="contacts_secretary" property="contactsSecretary" jdbcType="VARCHAR" />
    <result column="student_organization" property="studentOrganization" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, info_id, name_chairman, function_chairman, contacts_chairman, department_charge, 
    name_secretary, function_secretary, contacts_secretary, student_organization, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_cadres_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_cadres_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dcs.pojo.CadresInfo" >
    insert into t_cadres_info (id, info_id, name_chairman, 
      function_chairman, contacts_chairman, department_charge, 
      name_secretary, function_secretary, contacts_secretary, 
      student_organization, remark)
    values (#{id,jdbcType=INTEGER}, #{infoId,jdbcType=INTEGER}, #{nameChairman,jdbcType=VARCHAR}, 
      #{functionChairman,jdbcType=VARCHAR}, #{contactsChairman,jdbcType=VARCHAR}, #{departmentCharge,jdbcType=VARCHAR}, 
      #{nameSecretary,jdbcType=VARCHAR}, #{functionSecretary,jdbcType=VARCHAR}, #{contactsSecretary,jdbcType=VARCHAR}, 
      #{studentOrganization,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dcs.pojo.CadresInfo" >
    insert into t_cadres_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="infoId != null" >
        info_id,
      </if>
      <if test="nameChairman != null" >
        name_chairman,
      </if>
      <if test="functionChairman != null" >
        function_chairman,
      </if>
      <if test="contactsChairman != null" >
        contacts_chairman,
      </if>
      <if test="departmentCharge != null" >
        department_charge,
      </if>
      <if test="nameSecretary != null" >
        name_secretary,
      </if>
      <if test="functionSecretary != null" >
        function_secretary,
      </if>
      <if test="contactsSecretary != null" >
        contacts_secretary,
      </if>
      <if test="studentOrganization != null" >
        student_organization,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="infoId != null" >
        #{infoId,jdbcType=INTEGER},
      </if>
      <if test="nameChairman != null" >
        #{nameChairman,jdbcType=VARCHAR},
      </if>
      <if test="functionChairman != null" >
        #{functionChairman,jdbcType=VARCHAR},
      </if>
      <if test="contactsChairman != null" >
        #{contactsChairman,jdbcType=VARCHAR},
      </if>
      <if test="departmentCharge != null" >
        #{departmentCharge,jdbcType=VARCHAR},
      </if>
      <if test="nameSecretary != null" >
        #{nameSecretary,jdbcType=VARCHAR},
      </if>
      <if test="functionSecretary != null" >
        #{functionSecretary,jdbcType=VARCHAR},
      </if>
      <if test="contactsSecretary != null" >
        #{contactsSecretary,jdbcType=VARCHAR},
      </if>
      <if test="studentOrganization != null" >
        #{studentOrganization,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dcs.pojo.CadresInfo" >
    update t_cadres_info
    <set >
      <if test="infoId != null" >
        info_id = #{infoId,jdbcType=INTEGER},
      </if>
      <if test="nameChairman != null" >
        name_chairman = #{nameChairman,jdbcType=VARCHAR},
      </if>
      <if test="functionChairman != null" >
        function_chairman = #{functionChairman,jdbcType=VARCHAR},
      </if>
      <if test="contactsChairman != null" >
        contacts_chairman = #{contactsChairman,jdbcType=VARCHAR},
      </if>
      <if test="departmentCharge != null" >
        department_charge = #{departmentCharge,jdbcType=VARCHAR},
      </if>
      <if test="nameSecretary != null" >
        name_secretary = #{nameSecretary,jdbcType=VARCHAR},
      </if>
      <if test="functionSecretary != null" >
        function_secretary = #{functionSecretary,jdbcType=VARCHAR},
      </if>
      <if test="contactsSecretary != null" >
        contacts_secretary = #{contactsSecretary,jdbcType=VARCHAR},
      </if>
      <if test="studentOrganization != null" >
        student_organization = #{studentOrganization,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dcs.pojo.CadresInfo" >
    update t_cadres_info
    set info_id = #{infoId,jdbcType=INTEGER},
      name_chairman = #{nameChairman,jdbcType=VARCHAR},
      function_chairman = #{functionChairman,jdbcType=VARCHAR},
      contacts_chairman = #{contactsChairman,jdbcType=VARCHAR},
      department_charge = #{departmentCharge,jdbcType=VARCHAR},
      name_secretary = #{nameSecretary,jdbcType=VARCHAR},
      function_secretary = #{functionSecretary,jdbcType=VARCHAR},
      contacts_secretary = #{contactsSecretary,jdbcType=VARCHAR},
      student_organization = #{studentOrganization,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>