<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dcs.dao.CampusActivitiesMapper" >
  <resultMap id="BaseResultMap" type="com.dcs.pojo.CampusActivities" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="info_id" property="infoId" jdbcType="INTEGER" />
    <result column="context_name" property="contextName" jdbcType="VARCHAR" />
    <result column="project" property="project" jdbcType="VARCHAR" />
    <result column="context_grade" property="contextGrade" jdbcType="VARCHAR" />
    <result column="student_id" property="studentId" jdbcType="INTEGER" />
    <result column="reward" property="reward" jdbcType="VARCHAR" />
    <result column="student_name" property="studentName" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
    <result column="classroom" property="classroom" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, info_id, context_name, project, context_grade, student_id, reward, student_name, 
    grade, classroom, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_campus_activities
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_campus_activities
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dcs.pojo.CampusActivities" >
    insert into t_campus_activities (id, info_id, context_name, 
      project, context_grade, student_id, 
      reward, student_name, grade, 
      classroom, remark)
    values (#{id,jdbcType=INTEGER}, #{infoId,jdbcType=INTEGER}, #{contextName,jdbcType=VARCHAR}, 
      #{project,jdbcType=VARCHAR}, #{contextGrade,jdbcType=VARCHAR}, #{studentId,jdbcType=INTEGER}, 
      #{reward,jdbcType=VARCHAR}, #{studentName,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}, 
      #{classroom,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dcs.pojo.CampusActivities" >
    insert into t_campus_activities
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="infoId != null" >
        info_id,
      </if>
      <if test="contextName != null" >
        context_name,
      </if>
      <if test="project != null" >
        project,
      </if>
      <if test="contextGrade != null" >
        context_grade,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="reward != null" >
        reward,
      </if>
      <if test="studentName != null" >
        student_name,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="classroom != null" >
        classroom,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="infoId != null" >
        #{infoId,jdbcType=INTEGER},
      </if>
      <if test="contextName != null" >
        #{contextName,jdbcType=VARCHAR},
      </if>
      <if test="project != null" >
        #{project,jdbcType=VARCHAR},
      </if>
      <if test="contextGrade != null" >
        #{contextGrade,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="reward != null" >
        #{reward,jdbcType=VARCHAR},
      </if>
      <if test="studentName != null" >
        #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="classroom != null" >
        #{classroom,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dcs.pojo.CampusActivities" >
    update t_campus_activities
    <set >
      <if test="infoId != null" >
        info_id = #{infoId,jdbcType=INTEGER},
      </if>
      <if test="contextName != null" >
        context_name = #{contextName,jdbcType=VARCHAR},
      </if>
      <if test="project != null" >
        project = #{project,jdbcType=VARCHAR},
      </if>
      <if test="contextGrade != null" >
        context_grade = #{contextGrade,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="reward != null" >
        reward = #{reward,jdbcType=VARCHAR},
      </if>
      <if test="studentName != null" >
        student_name = #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="classroom != null" >
        classroom = #{classroom,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dcs.pojo.CampusActivities" >
    update t_campus_activities
    set info_id = #{infoId,jdbcType=INTEGER},
      context_name = #{contextName,jdbcType=VARCHAR},
      project = #{project,jdbcType=VARCHAR},
      context_grade = #{contextGrade,jdbcType=VARCHAR},
      student_id = #{studentId,jdbcType=INTEGER},
      reward = #{reward,jdbcType=VARCHAR},
      student_name = #{studentName,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      classroom = #{classroom,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>