<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dcs.dao.ClassInfoMapper" >
  <resultMap id="BaseResultMap" type="com.dcs.pojo.ClassInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="info_id" property="infoId" jdbcType="INTEGER" />
    <result column="student_id" property="studentId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="native_place" property="nativePlace" jdbcType="VARCHAR" />
    <result column="birth_place" property="birthPlace" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="contacts" property="contacts" jdbcType="VARCHAR" />
    <result column="party_member" property="partyMember" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, info_id, student_id, name, sex, native_place, birth_place, id_card, contacts, 
    party_member
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_class_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_class_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dcs.pojo.ClassInfo" >
    insert into t_class_info (id, info_id, student_id, 
      name, sex, native_place, 
      birth_place, id_card, contacts, 
      party_member)
    values (#{id,jdbcType=INTEGER}, #{infoId,jdbcType=INTEGER}, #{studentId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{nativePlace,jdbcType=VARCHAR}, 
      #{birthPlace,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{contacts,jdbcType=VARCHAR}, 
      #{partyMember,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.dcs.pojo.ClassInfo" >
    insert into t_class_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="infoId != null" >
        info_id,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="nativePlace != null" >
        native_place,
      </if>
      <if test="birthPlace != null" >
        birth_place,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="contacts != null" >
        contacts,
      </if>
      <if test="partyMember != null" >
        party_member,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="infoId != null" >
        #{infoId,jdbcType=INTEGER},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null" >
        #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="birthPlace != null" >
        #{birthPlace,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="partyMember != null" >
        #{partyMember,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dcs.pojo.ClassInfo" >
    update t_class_info
    <set >
      <if test="infoId != null" >
        info_id = #{infoId,jdbcType=INTEGER},
      </if>
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null" >
        native_place = #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="birthPlace != null" >
        birth_place = #{birthPlace,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        contacts = #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="partyMember != null" >
        party_member = #{partyMember,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dcs.pojo.ClassInfo" >
    update t_class_info
    set info_id = #{infoId,jdbcType=INTEGER},
      student_id = #{studentId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      native_place = #{nativePlace,jdbcType=VARCHAR},
      birth_place = #{birthPlace,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      contacts = #{contacts,jdbcType=VARCHAR},
      party_member = #{partyMember,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>