<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dcs.dao.GloryInfoMapper" >
  <resultMap id="BaseResultMap" type="com.dcs.pojo.GloryInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="info_id" property="infoId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="student_id" property="studentId" jdbcType="INTEGER" />
    <result column="classroom" property="classroom" jdbcType="VARCHAR" />
    <result column="contest_name" property="contestName" jdbcType="VARCHAR" />
    <result column="contest_grade" property="contestGrade" jdbcType="VARCHAR" />
    <result column="reward_time" property="rewardTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="reward_nature" property="rewardNature" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, info_id, name, student_id, classroom, contest_name, contest_grade, reward_time, 
    remark, reward_nature
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_glory_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_glory_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dcs.pojo.GloryInfo" >
    insert into t_glory_info (id, info_id, name, 
      student_id, classroom, contest_name, 
      contest_grade, reward_time, remark, 
      reward_nature)
    values (#{id,jdbcType=INTEGER}, #{infoId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{studentId,jdbcType=INTEGER}, #{classroom,jdbcType=VARCHAR}, #{contestName,jdbcType=VARCHAR}, 
      #{contestGrade,jdbcType=VARCHAR}, #{rewardTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{rewardNature,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dcs.pojo.GloryInfo" >
    insert into t_glory_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="infoId != null" >
        info_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="classroom != null" >
        classroom,
      </if>
      <if test="contestName != null" >
        contest_name,
      </if>
      <if test="contestGrade != null" >
        contest_grade,
      </if>
      <if test="rewardTime != null" >
        reward_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="rewardNature != null" >
        reward_nature,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="infoId != null" >
        #{infoId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="classroom != null" >
        #{classroom,jdbcType=VARCHAR},
      </if>
      <if test="contestName != null" >
        #{contestName,jdbcType=VARCHAR},
      </if>
      <if test="contestGrade != null" >
        #{contestGrade,jdbcType=VARCHAR},
      </if>
      <if test="rewardTime != null" >
        #{rewardTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="rewardNature != null" >
        #{rewardNature,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dcs.pojo.GloryInfo" >
    update t_glory_info
    <set >
      <if test="infoId != null" >
        info_id = #{infoId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="classroom != null" >
        classroom = #{classroom,jdbcType=VARCHAR},
      </if>
      <if test="contestName != null" >
        contest_name = #{contestName,jdbcType=VARCHAR},
      </if>
      <if test="contestGrade != null" >
        contest_grade = #{contestGrade,jdbcType=VARCHAR},
      </if>
      <if test="rewardTime != null" >
        reward_time = #{rewardTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="rewardNature != null" >
        reward_nature = #{rewardNature,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dcs.pojo.GloryInfo" >
    update t_glory_info
    set info_id = #{infoId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      student_id = #{studentId,jdbcType=INTEGER},
      classroom = #{classroom,jdbcType=VARCHAR},
      contest_name = #{contestName,jdbcType=VARCHAR},
      contest_grade = #{contestGrade,jdbcType=VARCHAR},
      reward_time = #{rewardTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      reward_nature = #{rewardNature,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>