<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dcs.dao.GradeInfoMapper" >
  <resultMap id="BaseResultMap" type="com.dcs.pojo.GradeInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="info_id" property="infoId" jdbcType="VARCHAR" />
    <result column="classroom" property="classroom" jdbcType="VARCHAR" />
    <result column="people" property="people" jdbcType="INTEGER" />
    <result column="male" property="male" jdbcType="INTEGER" />
    <result column="female" property="female" jdbcType="INTEGER" />
    <result column="party_member" property="partyMember" jdbcType="INTEGER" />
    <result column="activist" property="activist" jdbcType="INTEGER" />
    <result column="teacher" property="teacher" jdbcType="VARCHAR" />
    <result column="monitor" property="monitor" jdbcType="VARCHAR" />
    <result column="league_secretary" property="leagueSecretary" jdbcType="VARCHAR" />
    <result column="studies_commissary" property="studiesCommissary" jdbcType="VARCHAR" />
    <result column="sports_commissary" property="sportsCommissary" jdbcType="VARCHAR" />
    <result column="affair_commissary" property="affairCommissary" jdbcType="VARCHAR" />
    <result column="organization_commissary" property="organizationCommissary" jdbcType="VARCHAR" />
    <result column="publicity_commissary" property="publicityCommissary" jdbcType="VARCHAR" />
    <result column="psychological_commissary" property="psychologicalCommissary" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, info_id, classroom, people, male, female, party_member, activist, teacher, monitor, 
    league_secretary, studies_commissary, sports_commissary, affair_commissary, organization_commissary, 
    publicity_commissary, psychological_commissary, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_grade_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_grade_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dcs.pojo.GradeInfo" >
    insert into t_grade_info (id, info_id, classroom, 
      people, male, female, 
      party_member, activist, teacher, 
      monitor, league_secretary, studies_commissary, 
      sports_commissary, affair_commissary, organization_commissary, 
      publicity_commissary, psychological_commissary, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{infoId,jdbcType=VARCHAR}, #{classroom,jdbcType=VARCHAR}, 
      #{people,jdbcType=INTEGER}, #{male,jdbcType=INTEGER}, #{female,jdbcType=INTEGER}, 
      #{partyMember,jdbcType=INTEGER}, #{activist,jdbcType=INTEGER}, #{teacher,jdbcType=VARCHAR}, 
      #{monitor,jdbcType=VARCHAR}, #{leagueSecretary,jdbcType=VARCHAR}, #{studiesCommissary,jdbcType=VARCHAR}, 
      #{sportsCommissary,jdbcType=VARCHAR}, #{affairCommissary,jdbcType=VARCHAR}, #{organizationCommissary,jdbcType=VARCHAR}, 
      #{publicityCommissary,jdbcType=VARCHAR}, #{psychologicalCommissary,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dcs.pojo.GradeInfo" >
    insert into t_grade_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="infoId != null" >
        info_id,
      </if>
      <if test="classroom != null" >
        classroom,
      </if>
      <if test="people != null" >
        people,
      </if>
      <if test="male != null" >
        male,
      </if>
      <if test="female != null" >
        female,
      </if>
      <if test="partyMember != null" >
        party_member,
      </if>
      <if test="activist != null" >
        activist,
      </if>
      <if test="teacher != null" >
        teacher,
      </if>
      <if test="monitor != null" >
        monitor,
      </if>
      <if test="leagueSecretary != null" >
        league_secretary,
      </if>
      <if test="studiesCommissary != null" >
        studies_commissary,
      </if>
      <if test="sportsCommissary != null" >
        sports_commissary,
      </if>
      <if test="affairCommissary != null" >
        affair_commissary,
      </if>
      <if test="organizationCommissary != null" >
        organization_commissary,
      </if>
      <if test="publicityCommissary != null" >
        publicity_commissary,
      </if>
      <if test="psychologicalCommissary != null" >
        psychological_commissary,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="infoId != null" >
        #{infoId,jdbcType=VARCHAR},
      </if>
      <if test="classroom != null" >
        #{classroom,jdbcType=VARCHAR},
      </if>
      <if test="people != null" >
        #{people,jdbcType=INTEGER},
      </if>
      <if test="male != null" >
        #{male,jdbcType=INTEGER},
      </if>
      <if test="female != null" >
        #{female,jdbcType=INTEGER},
      </if>
      <if test="partyMember != null" >
        #{partyMember,jdbcType=INTEGER},
      </if>
      <if test="activist != null" >
        #{activist,jdbcType=INTEGER},
      </if>
      <if test="teacher != null" >
        #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="monitor != null" >
        #{monitor,jdbcType=VARCHAR},
      </if>
      <if test="leagueSecretary != null" >
        #{leagueSecretary,jdbcType=VARCHAR},
      </if>
      <if test="studiesCommissary != null" >
        #{studiesCommissary,jdbcType=VARCHAR},
      </if>
      <if test="sportsCommissary != null" >
        #{sportsCommissary,jdbcType=VARCHAR},
      </if>
      <if test="affairCommissary != null" >
        #{affairCommissary,jdbcType=VARCHAR},
      </if>
      <if test="organizationCommissary != null" >
        #{organizationCommissary,jdbcType=VARCHAR},
      </if>
      <if test="publicityCommissary != null" >
        #{publicityCommissary,jdbcType=VARCHAR},
      </if>
      <if test="psychologicalCommissary != null" >
        #{psychologicalCommissary,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dcs.pojo.GradeInfo" >
    update t_grade_info
    <set >
      <if test="infoId != null" >
        info_id = #{infoId,jdbcType=VARCHAR},
      </if>
      <if test="classroom != null" >
        classroom = #{classroom,jdbcType=VARCHAR},
      </if>
      <if test="people != null" >
        people = #{people,jdbcType=INTEGER},
      </if>
      <if test="male != null" >
        male = #{male,jdbcType=INTEGER},
      </if>
      <if test="female != null" >
        female = #{female,jdbcType=INTEGER},
      </if>
      <if test="partyMember != null" >
        party_member = #{partyMember,jdbcType=INTEGER},
      </if>
      <if test="activist != null" >
        activist = #{activist,jdbcType=INTEGER},
      </if>
      <if test="teacher != null" >
        teacher = #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="monitor != null" >
        monitor = #{monitor,jdbcType=VARCHAR},
      </if>
      <if test="leagueSecretary != null" >
        league_secretary = #{leagueSecretary,jdbcType=VARCHAR},
      </if>
      <if test="studiesCommissary != null" >
        studies_commissary = #{studiesCommissary,jdbcType=VARCHAR},
      </if>
      <if test="sportsCommissary != null" >
        sports_commissary = #{sportsCommissary,jdbcType=VARCHAR},
      </if>
      <if test="affairCommissary != null" >
        affair_commissary = #{affairCommissary,jdbcType=VARCHAR},
      </if>
      <if test="organizationCommissary != null" >
        organization_commissary = #{organizationCommissary,jdbcType=VARCHAR},
      </if>
      <if test="publicityCommissary != null" >
        publicity_commissary = #{publicityCommissary,jdbcType=VARCHAR},
      </if>
      <if test="psychologicalCommissary != null" >
        psychological_commissary = #{psychologicalCommissary,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dcs.pojo.GradeInfo" >
    update t_grade_info
    set info_id = #{infoId,jdbcType=VARCHAR},
      classroom = #{classroom,jdbcType=VARCHAR},
      people = #{people,jdbcType=INTEGER},
      male = #{male,jdbcType=INTEGER},
      female = #{female,jdbcType=INTEGER},
      party_member = #{partyMember,jdbcType=INTEGER},
      activist = #{activist,jdbcType=INTEGER},
      teacher = #{teacher,jdbcType=VARCHAR},
      monitor = #{monitor,jdbcType=VARCHAR},
      league_secretary = #{leagueSecretary,jdbcType=VARCHAR},
      studies_commissary = #{studiesCommissary,jdbcType=VARCHAR},
      sports_commissary = #{sportsCommissary,jdbcType=VARCHAR},
      affair_commissary = #{affairCommissary,jdbcType=VARCHAR},
      organization_commissary = #{organizationCommissary,jdbcType=VARCHAR},
      publicity_commissary = #{publicityCommissary,jdbcType=VARCHAR},
      psychological_commissary = #{psychologicalCommissary,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>