<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcs.dao.StudentRewardMapper">
  <resultMap id="BaseResultMap" type="com.dcs.pojo.StudentReward">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="info_id" jdbcType="INTEGER" property="infoId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="classroom" jdbcType="VARCHAR" property="classroom" />
    <result column="reward_name" jdbcType="VARCHAR" property="rewardName" />
    <result column="reward_grade" jdbcType="VARCHAR" property="rewardGrade" />
    <result column="reward_time" jdbcType="TIMESTAMP" property="rewardTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="reward_nature" jdbcType="VARCHAR" property="rewardNature" />
  </resultMap>
  <sql id="Base_Column_List">
    id, info_id, name, student_id, grade, classroom, reward_name, reward_grade, reward_time, 
    remark, reward_nature
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_student_reward
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_student_reward
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dcs.pojo.StudentReward">
    insert into t_student_reward (id, info_id, name, 
      student_id, grade, classroom, 
      reward_name, reward_grade, reward_time, 
      remark, reward_nature)
    values (#{id,jdbcType=INTEGER}, #{infoId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{studentId,jdbcType=INTEGER}, #{grade,jdbcType=VARCHAR}, #{classroom,jdbcType=VARCHAR}, 
      #{rewardName,jdbcType=VARCHAR}, #{rewardGrade,jdbcType=VARCHAR}, #{rewardTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{rewardNature,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dcs.pojo.StudentReward">
    insert into t_student_reward
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="infoId != null">
        info_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="classroom != null">
        classroom,
      </if>
      <if test="rewardName != null">
        reward_name,
      </if>
      <if test="rewardGrade != null">
        reward_grade,
      </if>
      <if test="rewardTime != null">
        reward_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="rewardNature != null">
        reward_nature,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="infoId != null">
        #{infoId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="classroom != null">
        #{classroom,jdbcType=VARCHAR},
      </if>
      <if test="rewardName != null">
        #{rewardName,jdbcType=VARCHAR},
      </if>
      <if test="rewardGrade != null">
        #{rewardGrade,jdbcType=VARCHAR},
      </if>
      <if test="rewardTime != null">
        #{rewardTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="rewardNature != null">
        #{rewardNature,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dcs.pojo.StudentReward">
    update t_student_reward
    <set>
      <if test="infoId != null">
        info_id = #{infoId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="classroom != null">
        classroom = #{classroom,jdbcType=VARCHAR},
      </if>
      <if test="rewardName != null">
        reward_name = #{rewardName,jdbcType=VARCHAR},
      </if>
      <if test="rewardGrade != null">
        reward_grade = #{rewardGrade,jdbcType=VARCHAR},
      </if>
      <if test="rewardTime != null">
        reward_time = #{rewardTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="rewardNature != null">
        reward_nature = #{rewardNature,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dcs.pojo.StudentReward">
    update t_student_reward
    set info_id = #{infoId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      student_id = #{studentId,jdbcType=INTEGER},
      grade = #{grade,jdbcType=VARCHAR},
      classroom = #{classroom,jdbcType=VARCHAR},
      reward_name = #{rewardName,jdbcType=VARCHAR},
      reward_grade = #{rewardGrade,jdbcType=VARCHAR},
      reward_time = #{rewardTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      reward_nature = #{rewardNature,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.dcs.pojo.StudentReward">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="classroom" jdbcType="VARCHAR" property="classroom" />
    <result column="reward_name" jdbcType="VARCHAR" property="rewardName" />
    <result column="reward_grade" jdbcType="VARCHAR" property="rewardGrade" />
    <result column="reward_time" jdbcType="TIMESTAMP" property="rewardTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="reward_nature" jdbcType="VARCHAR" property="rewardNature" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, student_id, grade, classroom, reward_name, reward_grade, reward_time, remark, 
    reward_nature
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_student_reward
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_student_reward
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dcs.pojo.StudentReward">
    insert into t_student_reward (id, name, student_id, 
      grade, classroom, reward_name, 
      reward_grade, reward_time, remark, 
      reward_nature)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{studentId,jdbcType=INTEGER}, 
      #{grade,jdbcType=VARCHAR}, #{classroom,jdbcType=VARCHAR}, #{rewardName,jdbcType=VARCHAR}, 
      #{rewardGrade,jdbcType=VARCHAR}, #{rewardTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{rewardNature,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dcs.pojo.StudentReward">
    insert into t_student_reward
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="classroom != null">
        classroom,
      </if>
      <if test="rewardName != null">
        reward_name,
      </if>
      <if test="rewardGrade != null">
        reward_grade,
      </if>
      <if test="rewardTime != null">
        reward_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="rewardNature != null">
        reward_nature,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="classroom != null">
        #{classroom,jdbcType=VARCHAR},
      </if>
      <if test="rewardName != null">
        #{rewardName,jdbcType=VARCHAR},
      </if>
      <if test="rewardGrade != null">
        #{rewardGrade,jdbcType=VARCHAR},
      </if>
      <if test="rewardTime != null">
        #{rewardTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="rewardNature != null">
        #{rewardNature,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dcs.pojo.StudentReward">
    update t_student_reward
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="classroom != null">
        classroom = #{classroom,jdbcType=VARCHAR},
      </if>
      <if test="rewardName != null">
        reward_name = #{rewardName,jdbcType=VARCHAR},
      </if>
      <if test="rewardGrade != null">
        reward_grade = #{rewardGrade,jdbcType=VARCHAR},
      </if>
      <if test="rewardTime != null">
        reward_time = #{rewardTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="rewardNature != null">
        reward_nature = #{rewardNature,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dcs.pojo.StudentReward">
    update t_student_reward
    set name = #{name,jdbcType=VARCHAR},
      student_id = #{studentId,jdbcType=INTEGER},
      grade = #{grade,jdbcType=VARCHAR},
      classroom = #{classroom,jdbcType=VARCHAR},
      reward_name = #{rewardName,jdbcType=VARCHAR},
      reward_grade = #{rewardGrade,jdbcType=VARCHAR},
      reward_time = #{rewardTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      reward_nature = #{rewardNature,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.dcs.pojo.StudentReward">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="classroom" jdbcType="VARCHAR" property="classroom" />
    <result column="reward_name" jdbcType="VARCHAR" property="rewardName" />
    <result column="reward_grade" jdbcType="VARCHAR" property="rewardGrade" />
    <result column="reward_time" jdbcType="TIMESTAMP" property="rewardTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="reward_nature" jdbcType="VARCHAR" property="rewardNature" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, student_id, grade, classroom, reward_name, reward_grade, reward_time, remark, 
    reward_nature
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_student_reward
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_student_reward
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dcs.pojo.StudentReward">
    insert into t_student_reward (id, name, student_id, 
      grade, classroom, reward_name, 
      reward_grade, reward_time, remark, 
      reward_nature)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{studentId,jdbcType=INTEGER}, 
      #{grade,jdbcType=VARCHAR}, #{classroom,jdbcType=VARCHAR}, #{rewardName,jdbcType=VARCHAR}, 
      #{rewardGrade,jdbcType=VARCHAR}, #{rewardTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{rewardNature,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dcs.pojo.StudentReward">
    insert into t_student_reward
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="classroom != null">
        classroom,
      </if>
      <if test="rewardName != null">
        reward_name,
      </if>
      <if test="rewardGrade != null">
        reward_grade,
      </if>
      <if test="rewardTime != null">
        reward_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="rewardNature != null">
        reward_nature,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="classroom != null">
        #{classroom,jdbcType=VARCHAR},
      </if>
      <if test="rewardName != null">
        #{rewardName,jdbcType=VARCHAR},
      </if>
      <if test="rewardGrade != null">
        #{rewardGrade,jdbcType=VARCHAR},
      </if>
      <if test="rewardTime != null">
        #{rewardTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="rewardNature != null">
        #{rewardNature,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dcs.pojo.StudentReward">
    update t_student_reward
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="classroom != null">
        classroom = #{classroom,jdbcType=VARCHAR},
      </if>
      <if test="rewardName != null">
        reward_name = #{rewardName,jdbcType=VARCHAR},
      </if>
      <if test="rewardGrade != null">
        reward_grade = #{rewardGrade,jdbcType=VARCHAR},
      </if>
      <if test="rewardTime != null">
        reward_time = #{rewardTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="rewardNature != null">
        reward_nature = #{rewardNature,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dcs.pojo.StudentReward">
    update t_student_reward
    set name = #{name,jdbcType=VARCHAR},
      student_id = #{studentId,jdbcType=INTEGER},
      grade = #{grade,jdbcType=VARCHAR},
      classroom = #{classroom,jdbcType=VARCHAR},
      reward_name = #{rewardName,jdbcType=VARCHAR},
      reward_grade = #{rewardGrade,jdbcType=VARCHAR},
      reward_time = #{rewardTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      reward_nature = #{rewardNature,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.dcs.pojo.StudentReward">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="classroom" jdbcType="VARCHAR" property="classroom" />
    <result column="reward_name" jdbcType="VARCHAR" property="rewardName" />
    <result column="reward_grade" jdbcType="VARCHAR" property="rewardGrade" />
    <result column="reward_time" jdbcType="TIMESTAMP" property="rewardTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="reward_nature" jdbcType="VARCHAR" property="rewardNature" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, student_id, grade, classroom, reward_name, reward_grade, reward_time, remark, 
    reward_nature
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_student_reward
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_student_reward
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dcs.pojo.StudentReward">
    insert into t_student_reward (id, name, student_id, 
      grade, classroom, reward_name, 
      reward_grade, reward_time, remark, 
      reward_nature)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{studentId,jdbcType=INTEGER}, 
      #{grade,jdbcType=VARCHAR}, #{classroom,jdbcType=VARCHAR}, #{rewardName,jdbcType=VARCHAR}, 
      #{rewardGrade,jdbcType=VARCHAR}, #{rewardTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{rewardNature,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dcs.pojo.StudentReward">
    insert into t_student_reward
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="classroom != null">
        classroom,
      </if>
      <if test="rewardName != null">
        reward_name,
      </if>
      <if test="rewardGrade != null">
        reward_grade,
      </if>
      <if test="rewardTime != null">
        reward_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="rewardNature != null">
        reward_nature,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="classroom != null">
        #{classroom,jdbcType=VARCHAR},
      </if>
      <if test="rewardName != null">
        #{rewardName,jdbcType=VARCHAR},
      </if>
      <if test="rewardGrade != null">
        #{rewardGrade,jdbcType=VARCHAR},
      </if>
      <if test="rewardTime != null">
        #{rewardTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="rewardNature != null">
        #{rewardNature,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dcs.pojo.StudentReward">
    update t_student_reward
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="classroom != null">
        classroom = #{classroom,jdbcType=VARCHAR},
      </if>
      <if test="rewardName != null">
        reward_name = #{rewardName,jdbcType=VARCHAR},
      </if>
      <if test="rewardGrade != null">
        reward_grade = #{rewardGrade,jdbcType=VARCHAR},
      </if>
      <if test="rewardTime != null">
        reward_time = #{rewardTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="rewardNature != null">
        reward_nature = #{rewardNature,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dcs.pojo.StudentReward">
    update t_student_reward
    set name = #{name,jdbcType=VARCHAR},
      student_id = #{studentId,jdbcType=INTEGER},
      grade = #{grade,jdbcType=VARCHAR},
      classroom = #{classroom,jdbcType=VARCHAR},
      reward_name = #{rewardName,jdbcType=VARCHAR},
      reward_grade = #{rewardGrade,jdbcType=VARCHAR},
      reward_time = #{rewardTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      reward_nature = #{rewardNature,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>