<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dcs.dao.TeacherInfoMapper" >
  <resultMap id="BaseResultMap" type="com.dcs.pojo.TeacherInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="info_id" property="infoId" jdbcType="INTEGER" />
    <result column="classroom" property="classroom" jdbcType="VARCHAR" />
    <result column="teacher" property="teacher" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="native_place" property="nativePlace" jdbcType="VARCHAR" />
    <result column="birth_place" property="birthPlace" jdbcType="VARCHAR" />
    <result column="contacts" property="contacts" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, info_id, classroom, teacher, sex, native_place, birth_place, contacts
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_teacher_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_teacher_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dcs.pojo.TeacherInfo" >
    insert into t_teacher_info (id, info_id, classroom, 
      teacher, sex, native_place, 
      birth_place, contacts)
    values (#{id,jdbcType=INTEGER}, #{infoId,jdbcType=INTEGER}, #{classroom,jdbcType=VARCHAR}, 
      #{teacher,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{nativePlace,jdbcType=VARCHAR}, 
      #{birthPlace,jdbcType=VARCHAR}, #{contacts,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dcs.pojo.TeacherInfo" >
    insert into t_teacher_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="infoId != null" >
        info_id,
      </if>
      <if test="classroom != null" >
        classroom,
      </if>
      <if test="teacher != null" >
        teacher,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="nativePlace != null" >
        native_place,
      </if>
      <if test="birthPlace != null" >
        birth_place,
      </if>
      <if test="contacts != null" >
        contacts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="infoId != null" >
        #{infoId,jdbcType=INTEGER},
      </if>
      <if test="classroom != null" >
        #{classroom,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null" >
        #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null" >
        #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="birthPlace != null" >
        #{birthPlace,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        #{contacts,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dcs.pojo.TeacherInfo" >
    update t_teacher_info
    <set >
      <if test="infoId != null" >
        info_id = #{infoId,jdbcType=INTEGER},
      </if>
      <if test="classroom != null" >
        classroom = #{classroom,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null" >
        teacher = #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null" >
        native_place = #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="birthPlace != null" >
        birth_place = #{birthPlace,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        contacts = #{contacts,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dcs.pojo.TeacherInfo" >
    update t_teacher_info
    set info_id = #{infoId,jdbcType=INTEGER},
      classroom = #{classroom,jdbcType=VARCHAR},
      teacher = #{teacher,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      native_place = #{nativePlace,jdbcType=VARCHAR},
      birth_place = #{birthPlace,jdbcType=VARCHAR},
      contacts = #{contacts,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>