<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcs.dao.UserMapper">
  <resultMap id="UserMap" type="com.dcs.pojo.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="reviser" jdbcType="INTEGER" property="reviser" />
    <result column="reviser_time" jdbcType="TIMESTAMP" property="reviserTime" />
    <result column="data_status" jdbcType="VARCHAR" property="dataStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, email, login_name, real_name, level, creator, create_time, reviser, 
    reviser_time,data_status
  </sql>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="UserMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=INTEGER} and data_status = #{dataStatus}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    update t_user set data_status = "000",reviser = #{reviser},reviser_time=now()
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.dcs.pojo.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="reviser != null">
        reviser,
      </if>
      <if test="reviserTime != null">
        reviser_time,
      </if>
        data_status,
        create_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="reviser != null">
        #{reviser,jdbcType=INTEGER},
      </if>
      <if test="reviserTime != null">
        #{reviserTime,jdbcType=TIMESTAMP},
      </if>
		"001",
      	now()
    </trim>
  </insert>
  <update id="update" parameterType="com.dcs.pojo.User">
    update t_user
    <set>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reviser != null">
        reviser = #{reviser,jdbcType=INTEGER},
      </if>
      <if test="dataStatus != null">
        data_status = #{dataStatus,jdbcType=VARCHAR},
      </if>
		reviser_time = now()
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="confirm" resultMap="UserMap">
    select id,login_name,level from t_user
    where password=#{user.password} and login_name=#{user.loginName} and data_status = #{dataStatus}
  </select>
<select id="selectLevel" parameterType="java.lang.Integer" resultType="java.lang.String">
	select level from t_user where id = #{id}
</select>
<select id="selectAll" parameterType="com.dcs.pojo.request.Page" resultMap="UserMap">
	select id,email,login_name,real_name,level,creator,create_time,reviser,reviser_time,data_status from t_user 
	<include refid="global.mysql-pagination"/>
</select>
<select id="find" resultMap="UserMap">
	select id,email,login_name,real_name,level,creator,create_time,reviser,reviser_time,data_status from t_user where login_name=#{value} or real_name=#{value} or email=#{value}
	<include refid="global.page-pagination"/>
</select>
<select id="check" resultType="java.lang.Integer">
	select count(*) from t_user where login_name=#{value}
</select>
</mapper>